@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&family=Krona+One&family=Montserrat:wght@400;600&family=Roboto:wght@700&family=Rubik+Doodle+Shadow&display=swap');

:root {
    --cor-primaria:#ab145dd2;
    --cor-secundaria:#3504a7;
    --cor-terciaria: #a848c0;
    --cor-hover:  #08e6ff;
    --cor-hover-2:#a412f3;

    --fonte-primaria:'Krona One',sans-serif;
    --fonte-secundaria: 'Monteserra', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    
}
body {
    box-sizing: content-box;
    background: linear-gradient(#2C80E0, #E133DF);
    color: var(--cor-secundaria);

}
.paragrafo{
    color:var(--cor-primaria);
}
.cabecalho{
    padding: 2% 0 0 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--cor-hover);
}
.titulo__destaque {
    color: var(--cor-primaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__subtitulo__about{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    color:var(--cor-primaria);
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px ridge#ab145dd2;
    width: 80%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px  0 ;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__links__navegacao:hover{
    background-color:var(--cor-terciaria);
    
}
.apresentacao__imagem{
    width:40% ;
}
.rodape{
    padding: 24px;
    color: var(--cor-hover);
    background-color:var(--cor-hover-2);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width:1200px){
    .apresentacao{
        flex-direction: column-reverse;
    }

}