@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&family=Krona+One&family=Montserrat:wght@400;600&family=Roboto:wght@700&family=Rubik+Doodle+Shadow&display=swap');

:root {
    --cor-primaria:linear-gradient(#2C80E0, #E133DF);;
    --cor-secundaria: #ab145dd2;
    --cor-terciaria: #3504a7;
}

*{
    margin: 0;
    padding: 0;
    
}
.imagem_foto{
    position: absolute;
    top: 150px;
    right:200px;
}
.imagem_foto__home{
    position: absolute;
    top: 100px;
    right:50px;
}

body {
    box-sizing: content-box;
    background: linear-gradient(#2C80E0, #E133DF);
    color: #3504a7;

}
.paragrafo{
    color: #ab145dd2;
}
.cabecalho{
    padding: 2% 0 0 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: 'Monteserra', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #ab145dd2;
    text-decoration: none;
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One',sans-serif;
}
.titulo__destaque {
    color:#ab145dd2;
}
.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:32px;
}
.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__links__subtitulo__about{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color:#ab145dd2;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px ridge#ab145dd2;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px  0 ;
    text-decoration: none;
    color:  #3504a7;
    font-family: 'Montserrat',sans-serif;
}
.apresentacao__links__link:hover{
    background-color: #a848c0;
    
}
.rodape{
    padding: 24px;
    color: #08e6ff;
    background-color:#a412f3;
    text-align: center;
    font-family: 'Monteserrat',sans-serif;
    font-size: 24px;
    font-weight: 400;
}
